body{
    background-image: url('abstract-5719370_960_720.jpg');
    
    background-size: cover;
}
#div1 {
	width: 50%;
    display: inline-block;
    
}
h2{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin-left: 60px;
    background-color: #e7d3fd;
}
h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
  
}
#phone{
    display: inline;
    margin-bottom: 20px;
}
#form{
    background-color: green;
    height: 200px;
    width: 200px;
}
#button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    margin: auto;
}
button{
    height: 30px;width: 80px;
    margin-left: 10px;
    background-color: white;
    border-radius: 4px;
    padding: 3px 8px 3px 8px;
    border: none;
}
#i2{
    margin-left: 25px ;
    padding-top: 10px;
    border-radius: 4px;
    margin-top: 12px;
    
}
#i1{
    margin-left: 25px ;
    padding-top: 10px;
    border-radius: 4px;
    margin-top: 12px;
    
}
#i3{
    margin-left: 25px ;
    padding-top: 10px;
    border-radius: 4px;
    margin-top: 12px;
    /* height: 300px; */
}
#form{
    height: 450px;
    width: 400px;
    position: relative;
    transform: translate(50px,-200px);
    border-radius: 8px;
}
label{
    margin-top: 12px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#textarea{
    width: 350px;
    border-radius: 6px;
    background-color: white;
    border: none;
    height: 200px;
}
#input1{
    
    width: 350px;
    border-radius: 6px;
    background-color: white;
    border: none;
}
#input2{
    width: 350px;
    border-radius: 6px;
    background-color: white;
    border: none;
}
#t{
    margin-top: 15px;
    margin-left: 15px;
    border: none;
}